<launch>
	<arg name="ax12_namespace" value="dynamixel_controller_manager" />

    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find dynamixel_tutorials)/config/dynamixel_joint_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node ns="$(arg ax12_namespace)" name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" output="screen"
          args="--port=ttyUSB0 pan_controller pan_controller">
        <param name="port_name" value="/dev/ttyUSB0"/>
        <param name="baud_rate" value="1000000"/>
    </node>
</launch>
