<launch>
    <!-- Start pan joint controller -->
    <rosparam file="$(find dynamixel_tutorials)/pan.yaml" command="load"/>
    <node name="pan_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager dynamixel_controller_manager --port dxl_tty1 pan_controller" output="screen"/>
</launch>

