<launch>
	
	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /camera/driver $(find head_tracking)/params/kinect.yaml" />	  

 	<!--	launch kinect sensor -->
	<include file="$(find openni_launch)/launch/openni.launch"/>
  
	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /camera/driver $(find head_tracking)/params/kinect.yaml" />	  
	
</launch>
